name: Build Rust Package

on:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read


defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Create Large Input
        run: mkdir ./inputs && head -c 10M /dev/urandom | base64 | head -c 1G > inputs/random.txt

      - name: Cargo Bench
        run: cargo bench

      - name: Install Package
        run: cargo install --path .

      - name: Run with Sample Input
        run: echo "Hello World! HELLO WORLD!" | brba_text